{% extends 'root.twig' %}

{% block content %}

<div id="app">
    <v-app light>
        <v-toolbar dense app clipped-left fixed>
            <h1><a href="/" class="black--text" title="home"><img src="/assets/img/logo.png">Sharetoall</a></h1>
            <v-spacer></v-spacer>
            <v-btn round primary outline v-if="connected" href="/sharetoall">Dashboard</v-btn>
            <v-btn round primary outline v-if="connected" @click.native="logout()">Logout</v-btn>
            <v-btn round primary outline v-if="!connected" @click.native="loginModal = true">Login</v-btn>
            <v-btn round primary outline v-if="!connected" @click.native="registerModal = true">Register</v-btn>
        </v-toolbar>
        <v-content>
            <section>
                <!-- <v-parallax src="/assets/img/background.jpg" height="600"> -->
            <v-flex class="band primary">
                <v-layout
                column
                align-center
                justify-center
                class="white--text band"
                >
                <h1 class="white--text mb-2 display-1 text-xs-center">Sharing for free on social media</h1>
                <div class="subheading mb-3 text-xs-center">A simple and straightforward way</div>
                <v-btn
                    class="accent white--text subheading mt-5"
                    dark
                    large
                    v-if="!connected" @click.native="registerModal = true"
                >
                Quick registration
                </v-btn>
                </v-layout>
            </v-flex>
            </section>

            <section>
            <v-layout
                column
                wrap
                class="my-5"
                align-center
            >
                <v-flex xs12>
                <v-container grid-list-xl>
                    <v-layout row wrap align-center>
                    <v-flex xs12 md4>
                        <v-card class="elevation-0 transparent">
                        <v-card-text class="text-xs-center">
                            <v-icon x-large class="primary--text text--lighten-2">question_answer</v-icon>
                        </v-card-text>
                        <v-card-title primary-title class="layout justify-center">
                            <div class="headline text-xs-center">Why sharetoall?</div>
                        </v-card-title>
                        <v-card-text class="text-xs-center">
                            <p>You don't want to spend half your day on social media?<br />
                            You don't need fancy analytics?</p>

                            <p>You just want to share your ideas and knowledge?</p>

                            <p>Enter sharetoall, an easy way to share on social media.</p>
                        </v-card-text>
                        </v-card>
                    </v-flex>
                    <v-flex xs12 md4>
                        <v-card class="elevation-0 transparent">
                        <v-card-text class="text-xs-center">
                            <v-icon x-large class="primary--text text--lighten-2">build</v-icon>
                        </v-card-text>
                        <v-card-title primary-title class="layout justify-center">
                            <div class="headline text-xs-center">The service is free</div>
                        </v-card-title>
                        <v-card-text class="text-xs-center">
                            <p>This website is free and will stay free.</p>
                            <p>However I take on my free time to develop it.</p>
                            <p>If you like this website and want it to evolve, please consider a donation.</p>
                        </v-card-text>
                        </v-card>
                    </v-flex>
                    <v-flex xs12 md4>
                        <v-card class="elevation-0 transparent">
                        <v-card-text class="text-xs-center">
                            <v-icon x-large class="primary--text text--lighten-2">flash_on</v-icon>
                        </v-card-text>
                        <v-card-title primary-title class="layout justify-center">
                            <div class="headline">Safety for all your data</div>
                        </v-card-title>
                        <v-card-text class="text-xs-center">
                            <p>Your data won't be sold to anybody.
                            <p>The content shared on social media won't be saved on this website.</p>

                            <p>You decide what you share to whom.</p>
                        </v-card-text>
                        </v-card>
                    </v-flex>
                    </v-layout>
                </v-container>
                </v-flex>
            </v-layout>
            </section>

            <section>
            <v-flex class="secondary">
                <v-layout column align-center justify-center class ="band">
                    <div class="headline white--text mb-3 text-xs-center">New functionalities</div>
                    <div class="white--text text-xs-center">
                    <p>Subscribe to know what will happen next!</p>
                    <p>No spam, I promise</p>
                    <div class="form-wrapper">
                        <form class="form-signin" id="newsletter_email" method="post" name="newsletter_email" ref="newsletter_email" @keyup.enter="newsletterEmail">
                            <input type="hidden" name="session_token" value="{{ session_token }}" v-model="session_token" ref="newsletter_session_token" />
                            <v-text-field
                                label="Your email"
                                name="newsletterEmail"
                                id="newsletterEmail"
                                color="white"
                                value=""
                                v-model="newsletterEmail"
                                box
                                required
                            >
                            </v-text-field>

                            <v-btn @click="newsletter">I subscribe!</v-btn>
                        </form>
                    </div>
                </v-layout>
            </v-flex>
            </section>

            <section>
            <v-container grid-list-xl>
                <v-layout row wrap justify-center class="my-5">
                <v-flex xs12 sm4>
                    <v-card class="elevation-0 transparent">
                    <v-card-title primary-title class="layout justify-center">
                        <div class="headline">Share your experiences freely</div>
                    </v-card-title>
                    <v-card-text>
                        <p>Sharing is caring, right?</p>

                        <p>I love to share great ideas for sure! Sharing about my passions, my experiences, sharing great content I find on Internet.<br />
                        You would think that I love social media?</p>

                        <p>Well, yes and no.</p>

                        <p>I love them since you can communicate with the whole planet in one click. <br />
                        I hate them because they are designed to be totally addictive. They are conceived for you to lose control. How many time I went on social media for hours without really sharing or learning anything on it?</p>

                        <p>Sharetoall is my answer to those frustrations. A free and simple plateform to share on social media without any hooks.</p>

                        <p>I create websites for a living and I love my job. This website is one of my creation but is still young. More and more functionalities will come with the same goal.</p>

                        Since I do it on my free time any donation is welcome! It shows me that people are interested by my idea and have the same needs. It keeps my motivation flowing. What is better than feeling useful?
                    </v-card-text>
                    </v-card>
                </v-flex>
                </v-layout>
            </v-container>
            </section>
        </v-content>

        <v-dialog v-model="loginModal" max-width="500px">
            <v-card class="pa-5">
                <h1 class="form-title">Login</h1>
                <div class="form-wrapper form-500">
                    <form class="form-signin" id="login" method="post" name="login_form" action="/auth/login" ref="loginForm" @keyup.enter="login">
                        <input type="hidden" name="session_token" value="{{ session_token }}" v-model="session_token" ref="login_session_token" />
                        <v-text-field
                            label="Your email"
                            name="loginEmail"
                            id="loginEmail"
                            value=""
                            class="text-input"
                            v-model="loginEmail"
                            required
                        >
                        </v-text-field>
                        <v-text-field
                            label="Your password"
                            name="loginPass"
                            id="loginPass"
                            :append-icon="loginPassVisible ? 'visibility' : 'visibility_off'"
                            :append-icon-cb="() => (loginPassVisible = !loginPassVisible)"
                            :type="loginPassVisible ? 'text' : 'password'"
                            v-model="loginPass"
                        required
                        >
                        </v-text-field>

                        <v-btn @click="login">Sign In</v-btn>
                        <a @click="resetModal = true; loginModal = false" title="forgot password">I forgot my password</a>
                    </form>
                </div>
            </v-card>
        </v-dialog>

        <v-dialog v-model="resetModal" max-width="500px">
            <v-card class="pa-5">
                <h1 class="form-title">Reset Password</h1>
                <div class="form-wrapper form-500">
                    <form class="form-signin" id="reset_password" method="post" name="reset_password" action="/auth/login" ref="resetPassword" @keyup.enter="resetPassword">
                        <input type="hidden" name="session_token" value="{{ session_token }}" v-model="session_token" ref="reset_password_session_token" />
                        <v-text-field
                            label="Your email"
                            name="resetPasswordEmail"
                            id="resetPasswordEmail"
                            value=""
                            class="text-input"
                            v-model="resetPasswordEmail"
                            required
                        >
                        </v-text-field>

                        <v-btn @click="resetPassword">Reset password</v-btn>
                    </form>
                </div>
            </v-card>
        </v-dialog>

        <v-dialog v-model="registerModal" max-width="700px">
            <v-card class="pa-5">
                <h2 class="form-title">Register</h2>
                <div>Your information are safe here. Nothing will be divulged.</div>
                <div class="form-wrapper form-500">
                    <form class="form-register" id="registerForm" method="post" name="register_form" action="/auth/register" ref="registerForm" @keyup.enter="register">
                        <input type="hidden" name="session_token" value="{{ session_token }}" v-model="session_token" ref="register_session_token" />
                        <v-text-field
                            label="Your email"
                            name="userEmail"
                            id="userEmail"
                            value=""
                            class="text-input"
                            v-model="userEmail"
                            required
                        >
                        </v-text-field>
                        <v-text-field
                            label="Your password"
                            name="userPassword"
                            id="userPassword"
                            :append-icon="userPasswordVisible ? 'visibility' : 'visibility_off'"
                            :append-icon-cb="() => (userPasswordVisible = !userPasswordVisible)"
                            :type="userPasswordVisible ? 'text' : 'password'"
                            v-model="userPassword"
                            required
                        >
                        </v-text-field>
                        <v-text-field
                            label="Confirm your password"
                            name="userPasswordConfirm"
                            id="userPasswordConfirm"
                            :append-icon="userPasswordConfirm ? 'visibility' : 'visibility_off'"
                            :append-icon-cb="() => (userPasswordConfirmVisible = !userPasswordConfirmVisible)"
                            :type="userPasswordConfirmVisible ? 'text' : 'password'"
                            v-model="userPasswordConfirm"
                            required
                        >
                        </v-text-field>
                        <v-checkbox
                            v-model="userNewsletter"
                            label="I want the nice newsletter (without spam)!"
                            name="userNewsletter"
                            type="checkbox"
                        ></v-checkbox>
                            <v-btn @click="register">register</v-btn>
                    </form>
                </div>
            </v-card>
        </v-dialog>
        <v-dialog v-model="confirmModal" max-width="400px">
            <v-card class="pa-5">
                <p>To complete your subscription please confirm your email address by clicking on the link in the email we just send you.</p>
            </v-card>
        </v-dialog>

        {% if resetToken %}
            <v-dialog v-model="newPasswordModal" max-width="700px">
                <v-card class="pa-5">
                    <h2 class="form-title">Change your password</h2>
                    <div class="form-wrapper form-500">
                        <form class="form-new-password" id="newPasswordForm" method="post" name="new_passorwd_form" action="/auth/password" ref="newPasswordForm" @keyup.enter="newPassword">
                            <input type="hidden" name="session_token" value="{{ session_token }}" v-model="session_token" ref="new_password_session_token" />
                            <v-text-field
                                label="Your new password"
                                name="newPassword"
                                id="newPassword"
                                :append-icon="newPasswordVisible ? 'visibility' : 'visibility_off'"
                                :append-icon-cb="() => (newPasswordVisible = !newPasswordVisible)"
                                :type="newPasswordVisible ? 'text' : 'password'"
                                v-model="newPassword"
                                required
                            >
                            </v-text-field>
                            <v-text-field
                                label="Confirm your new password"
                                name="newPasswordConfirm"
                                id="newPasswordConfirm"
                                :append-icon="newPasswordConfirmVisible ? 'visibility' : 'visibility_off'"
                                :append-icon-cb="() => (newPasswordConfirmVisible = !newPasswordConfirmVisible)"
                                :type="newPasswordConfirmVisible ? 'text' : 'password'"
                                v-model="newPasswordConfirm"
                                required
                            >
                            </v-text-field>
                            <input type="hidden" value="{{ resetToken }}" id="resetTokenField" />
                            <v-btn @click="changePassword">Change</v-btn>
                        </form>
                    </div>
                </v-card>
            </v-dialog>
            <v-dialog v-model="newPasswordConfirmModal" max-width="400px">
                <v-card class="pa-5">
                    <p>Your password has been changed.</p>
                </v-card>
            </v-dialog>
        {% endif %}
        <v-dialog v-model="confirmResetModal" max-width="400px">
            <v-card class="pa-5">
                <p>An email have been sent to you. You can click on the link in the email in order to change your password.</p>
            </v-card>
        </v-dialog>
        <v-dialog v-model="confirmNewsletterModal" max-width="400px">
            <v-card class="pa-5">
                <p>You have subscribed successfully to the newsletter</p>
            </v-card>
        </v-dialog>
    </v-app>
</div>
{% endblock %}
