<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <title>{{ app_name }}{% if page_name %} - {{ page_name }}{% endif %}</title>
    <link rel="stylesheet" href="/assets/build/{{ realm }}.css?{{ "web/assets/build/#{realm}.css" | md5sum }}" data-type="replaceable">
    <link rel="shortcut icon" href="favicon.ico">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.0.3/cookieconsent.min.css" />

    <script src="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.0.3/cookieconsent.min.js"></script>
    <script>
    window.addEventListener("load", function(){
    window.cookieconsent.initialise({
    "palette": {
        "popup": {
        "background": "#216942",
        "text": "#b2d192"
        },
        "button": {
        "background": "#afed71"
        }
    },
    "position": "top"
    })});
    </script>
    <script async src="https://www.googletagmanager.com/gtag/js?id={{ google_token }}"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-46898153-5');
    </script>
</head>
<body>
    <div id="alerts" class="alert">
        {# Notifications go here #}
    </div>
    {% block header %}
        {% include 'partials/header.twig' %}
    {% endblock %}

    {% block content %}
        {# the page content goes here #}
    {% endblock %}

    <script src="/assets/build/{{ realm }}.js?{{ "web/assets/build/#{realm}.js" | md5sum }}"></script>
</body>
</html>
